body{
  padding-top: 60px;
  background-color: rgb(213, 213, 213);
}

.sortable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sortable.grid {
	overflow: hidden;
}
.sortable li {
	list-style: none;
	border: 1px solid #CCC;
	background: #F6F6F6;
	color: #1C94C4;
	margin: 5px;
	padding: 5px;
	height: 22px;
}
.sortable.grid li {
	line-height: 80px;
	float: left;
	width: 254px;
	height: 168px;
	text-align: center;
}

.sortable.grid li > img {
	
	width: 242px;
	height: 155px;
	text-align: center;
}

li.sortable-placeholder {
	border: 1px dashed #CCC;
	background: none;
}